---
import { getCollection } from 'astro:content';
import EntryList from '../../components/EntryList.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { canonicalEntries, isPublished } from '../../lib/content';

const posts = canonicalEntries((await getCollection('blog')).filter(isPublished));
---

<BaseLayout title="Blog" description="Polished technical posts from the blog.">
	<div class="home">
		<h2 class="post-list-heading">Posts</h2>
		<EntryList entries={posts} emptyText="No blog posts published yet." />
	</div>
</BaseLayout>
